VITE_FIREBASE_API_KEY=AIzaSyDE7PASs4dt2aD912Jerm7260142Hee4W0
VITE_FIREBASE_AUTH_DOMAIN=exam-f6804.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=exam-f6804
VITE_FIREBASE_STORAGE_BUCKET=exam-f6804.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1029912301794
VITE_FIREBASE_APP_ID=1:1029912301794:web:57673ad6f7331136e80ebb
VITE_FIREBASE_MEASUREMENT_ID=G-PCEZQ7H2EV
VITE_FIREBASE_VAPID_KEY=BI6mkK2A172Jh_oPfzRd8ML3xxOVNyi7lVXtpMooYOTDZe3-ahhqlcpsOWsL522BUPk4ttLgUBI6aL3oKp-9ZZM
