@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8fafc;
  direction: rtl;
}

/* تحسين شكل شريط التمرير */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #d97706; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b45309; 
}